version: '3.9'

services:
  backend:
    build:
      context: ..
      dockerfile: apps/backend/Dockerfile
      target: builder
    container_name: mubite-backend-dev
    environment:
      NODE_ENV: development
      PORT: 4000
      HOST: 0.0.0.0
      EXTERNAL_API_URL: https://jsonplaceholder.typicode.com
      EXTERNAL_API_TIMEOUT: 5000
      LOG_LEVEL: debug
      ALLOWED_ORIGINS: http://localhost:3000
    volumes:
      - ../apps/backend/src:/app/apps/backend/src
      - ../packages:/app/packages
    ports:
      - "4000:4000"
      - "9229:9229"  # Node debugger port
    command: npm run dev -w @mubite/backend
    networks:
      - mubite-network-dev

  frontend:
    build:
      context: ..
      dockerfile: apps/frontend/Dockerfile
      target: builder
    container_name: mubite-frontend-dev
    dns:
      - 8.8.8.8
    environment:
      NODE_ENV: development
      BACKEND_URL: http://backend:4000
      NEXT_PUBLIC_BACKEND_URL: http://localhost:4000
    volumes:
      - ../apps/frontend/src:/app/apps/frontend/src
      - ../apps/frontend/public:/app/apps/frontend/public
      - ../packages:/app/packages
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: npm run dev -w @mubite/frontend
    networks:
      - mubite-network-dev

networks:
  mubite-network-dev:
    driver: bridge
